build/
*.lnk
/.project
*.xmsgs
*.bgn
*.bld
*.cmd_log
*.ut
*.xpi
*.xst
*.unroutes
*.twr
*.twx
*.stx
*.syr
*.ptwx
*.csv
*.html
*.xml
*.xrpt
*.ncd
*.mrp
*.map
*.ngm
*.drc
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.exe
*.wdb
*.xreport
*.c
*.dat
*.didat
*.obj
*.vdb
*.ini
HDMI_Test_v03/isim/VGA_Capture_isim_beh.exe.sim/tmp_save/_1
*.dbg
HDMI_Test_v03/isim/VGA_Capture_isim_beh.exe.sim/isimcrash.log
HDMI_Test_v03/isim/VGA_Capture_isim_beh.exe.sim/isimkernel.log
*.cmd
HDMI_Test_v03/isim/pn_info
HDMI_Test_v03/isim.log
webtalk.log
_ngo/
_xmsgs/
xst/
xlnx_auto_0_xdb/
iseconfig/