build/
isim/
*.lnk
/.project
*.xmsgs
*.bgn
*.bld
*.cmd_log
*.ut
*.xpi
*.xst
*.log
*.unroutes
*.twr
*.twx
*.stx
*.syr
*.ptwx
*.csv
*.html
*.xml
*.xrpt
*.ncd
*.mrp
*.map
*.ngm
*.drc
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.exe
*.wdb
*.swp
*.lso
*.db
*.xreport
*.c
*.dat
*.didat
*.obj
*.vdb
*.ini
*.dbg
*.cmd
_ngo/
_xmsgs/
xst/
xlnx_auto_0_xdb/
iseconfig/